n8n/GESTOR SERVICE DESK.json
{
  "name": "GESTOR SERVICE DESK",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -4080,
        416
      ],
      "id": "7a50b7a5-d6c7-4b9b-b8bc-97616b75027b",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "79278579-09b6-40ec-86f8-b68b17ea87a9",
              "name": "urlAPI",
              "value": "https://chamados.bugbusters.me",
              "type": "string"
            },
            {
              "id": "464c3fad-9884-4e1d-a06c-8b8191f87cef",
              "name": "APP_TOKEN_GLPI",
              "value": "rNkCgKqtRIfBmY2mVi3zXOhPSXvkYPGSDh4sIuPe",
              "type": "string"
            },
            {
              "id": "7de97a6f-adb5-4e40-8929-d42bd07e3dc2",
              "name": "Login_GLPI",
              "value": "diego.teixeira",
              "type": "string"
            },
            {
              "id": "eb39c8c0-c2dd-420b-b2a5-c7a05fe326cd",
              "name": "Senha_GLPI",
              "value": "Diego1310",
              "type": "string"
            },
            {
              "id": "e0d16930-6cf2-45e9-a8d9-594f5aef173b",
              "name": "Status",
              "value": "={{ $json.Status || '10' }}",
              "type": "string"
            },
            {
              "id": "e3d6fcca-d8bb-4716-91f9-9b9121318f01",
              "name": "NomeDaInstanciaEvolution",
              "value": "BUGBOT",
              "type": "string"
            },
            {
              "id": "77d8f442-a301-4770-a660-325d1e036eda",
              "name": "linkEvolution",
              "value": "http://172.16.50.19:8081",
              "type": "string"
            },
            {
              "id": "65037bb9-4699-4ec5-8204-bc9c64d43dc0",
              "name": "APIKeyEvolution",
              "value": "429683C4C977415CAAFCCE10F7D57E11",
              "type": "string"
            },
            {
              "id": "93529e55-6ac9-4065-a4ac-319020d08456",
              "name": "urlMCP",
              "value": "http://172.16.50.19:2500/api",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3872,
        224
      ],
      "id": "b64aaccf-5476-47bc-9353-74e311213dc6",
      "name": "Autenticação"
    },
    {
      "parameters": {
        "url": "={{ $('Autenticação2').first().json.URLAUXILIAR }}/search/Ticket?range=0-9999&withindexes=true&giveItems=true&forcedisplay[0]=1&forcedisplay[1]=2&forcedisplay[2]=7&forcedisplay[3]=15&forcedisplay[4]=80&forcedisplay[5]=5&forcedisplay[6]=3&forcedisplay[7]=10&forcedisplay[8]=12&criteria[0][field]=23&criteria[0][searchtype]=equals&criteria[0][value]=0&criteria[1][link]=AND&criteria[1][field]=12&criteria[1][searchtype]=equals&criteria[1][value]={{ $json.statusToSearch }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "App-Token",
              "value": "={{ $('Autenticação2').first().json.APP_TOKEN_GLPI }}"
            },
            {
              "name": "Session-Token",
              "value": "={{ $('Auth (BugBusters)').first().json.session_token }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "6142686f-b08a-42c8-b4d1-d90b2be9fae1",
      "name": "GLPI Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2256,
        192
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "fieldToSplitOut": "statusToSearch",
        "options": {}
      },
      "id": "c380de46-87b5-4e7d-95a4-3a63cb18069f",
      "name": "Organizador de status",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -2480,
        192
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "s-list",
              "name": "statusToSearch",
              "value": "={{ $('Autenticação').first().json.Status === '10' ? [1,2,3,4] : ($('Autenticação2').first().json.Status.toString().includes(',') ? $('Autenticação2').first().json.Status.split(',') : [$('Autenticação').first().json.Status]) }}",
              "type": "array"
            },
            {
              "id": "s-tok",
              "name": "sessionToken",
              "value": "={{ $json.session_token }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b56655b1-c0f4-41e0-96ab-6f94fb04ce57",
      "name": "Preparador de dados2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2720,
        192
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node['Autenticação2'].json['URLAUXILIAR'] }}/initSession ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "App-Token",
              "value": "={{ $json.APP_TOKEN_GLPI }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"login\": \"{{ $json.Login_GLPI }}\",\n  \"password\": \"{{ $json.Senha_GLPI }}\"\n}",
        "options": {}
      },
      "id": "bd8fc913-aa53-41ac-ae1f-193f7670854a",
      "name": "Auth (BugBusters)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2944,
        208
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2338c700-67e0-4d6a-8a32-b04545f1d515",
              "name": "URLAUXILIAR",
              "value": "={{ $json.glpi_url }}",
              "type": "string"
            },
            {
              "id": "st",
              "name": "Status",
              "value": "={{ $json.Status || '10' }}",
              "type": "string"
            },
            {
              "id": "log",
              "name": "Login_GLPI",
              "value": "={{ $json.glpi_user_login }}",
              "type": "string"
            },
            {
              "id": "pwd",
              "name": "Senha_GLPI",
              "value": "={{ $json.glpi_user_password }}",
              "type": "string"
            },
            {
              "id": "tok",
              "name": "APP_TOKEN_GLPI",
              "value": "={{ $json.glpi_app_token }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d5440ff0-900c-430e-8a71-65a34a90b100",
      "name": "Autenticação2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3184,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "// Criamos objetos vazios para acumular os dados de todas as execuções\nlet allData = {};\nlet allDataHtml = {};\nlet totalCountGeral = 0;\n\n// O segredo está aqui: percorrer TODOS os itens que entraram no nó\nfor (const item of $input.all()) {\n  const payload = item.json;\n  totalCountGeral += parseInt(payload.totalcount || 0);\n  if (payload.data) {\n    Object.assign(allData, payload.data);\n  }\n  if (payload.data_html) {\n    Object.assign(allDataHtml, payload.data_html);\n  }\n}\n\nreturn {\n  totalcount: totalCountGeral,\n  data: allData,\n  data_html: allDataHtml\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1984,
        176
      ],
      "id": "dc6843ca-c9f6-4142-bd5a-074ca5f872d6",
      "name": "Iterador de todos os status de chamado"
    },
    {
      "parameters": {
        "jsCode": "let allTickets = [];\nlet totalCount = 0;\n\nconst statusInput = $(\"Autenticação2\").first().json.Status;\nconst tipoDeChamado = parseInt(statusInput);\n\nconst superClean = (html) => {\n  if (!html || typeof html !== 'string') return \"\";\n  return html\n    .replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, '')\n    .replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, '')\n    .replace(/<[^>]*>?/gm, '')\n    .replace(/&nbsp;/g, ' ')\n    .replace(/&quot;/g, '\"')\n    .replace(/&lt;/g, '<')\n    .replace(/&gt;/g, '>')\n    .replace(/&amp;/g, '&')\n    .replace(/&#\\d+;/g, (match) => String.fromCharCode(match.match(/\\d+/)[0]))\n    .replace(/\\s+/g, ' ')\n    .trim();\n};\n\nconst extractUserInfo = (html) => {\n  if (!html) return { nome: '', email: '', telefone: '' };\n  const nomeMatch = html.match(/^([^<]+)/);\n  const emailMatch = html.match(/mailto:([a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,})/);\n  const telMatch = html.match(/tel:([^\"'>\\s]+)/);\n  return {\n    nome: nomeMatch ? nomeMatch[1].trim() : '',\n    email: emailMatch ? emailMatch[1] : '',\n    telefone: telMatch ? telMatch[1] : ''\n  };\n};\n\nfor (const item of $input.all()) {\n  const payload = item.json;\n  let source = payload.data?.[0]?.data ? payload.data[0] : (payload.data?.data ? payload.data : payload);\n\n  if (source && source.data) {\n    const ticketsData = source.data;\n    const ticketsHtml = source.data_html || {};\n\n    Object.keys(ticketsData).forEach(ticketId => {\n      if (!isNaN(ticketId)) {\n        const ticket = ticketsData[ticketId];\n        const ticketHtml = ticketsHtml[ticketId] || {};\n        const catRaw = superClean(ticketHtml[7] || ticket[7] || \"Sem Categoria\");\n        const categoriasExcluir = [\"sem categoria\", \"aberto por e-mail\", \"null\"];\n        if (categoriasExcluir.includes(catRaw.toLowerCase()) || catRaw === \"\" || catRaw === null) return;\n\n        const rawContent = ticketHtml[21] || ticket[21] || \"\";\n        const reqInfo = extractUserInfo(ticketHtml[4] || \"\");\n\n        let ticketObj = {\n          id: ticket[2],\n          requerente_nome: reqInfo.nome,\n          requerente_email: reqInfo.email,\n          requerente_tel: reqInfo.telefone,\n          titulo: superClean(ticket[1]),\n          categoria: catRaw,\n          urgencia: ticket[10] || 0,\n          descricao_inicial: superClean(rawContent),\n          status_name: superClean(ticketHtml[12] || `Status ${ticket[12]}`),\n          data_abertura: ticket[15],\n          entidade: ticket[80]\n        };\n\n        if (tipoDeChamado !== 1) {\n          const tecInfo = extractUserInfo(ticketHtml[5] || \"\");\n          ticketObj.tecnicoAtribuido = tecInfo.nome || \"Não atribuído\";\n        } else {\n          ticketObj.tecnicoAtribuido = \"Não atribuído\";\n        }\n\n        allTickets.push(ticketObj);\n      }\n    });\n  }\n}\n\ntotalCount = allTickets.length;\n\nreturn {\n  tipoDeChamado,\n  total_tickets_found: totalCount,\n  all_tickets: allTickets\n};"
      },
      "id": "4ce67195-d053-491d-bad9-cae29f60d2d3",
      "name": "Formatador dos chamados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1760,
        176
      ]
    },
    {
      "parameters": {
        "url": "={{ $('Autenticação').first().json.urlMCP }}/entidades-config",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1552,
        176
      ],
      "id": "515983aa-2702-4dff-9460-f94ce0a803bb",
      "name": "Matriz de prioridade"
    },
    {
      "parameters": {
        "url": "={{ $('Autenticação').first().json.urlMCP }}/users",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1344,
        176
      ],
      "id": "23aaba7c-7895-47dc-8dab-edf1ab7a4aee",
      "name": "Cargos técnicos",
      "executeOnce": true
    },
    {
      "parameters": {
        "jsCode": "const inputData = $(\"Formatador dos chamados\").first().json;\nconst listaDeTickets = inputData.all_tickets || [];\n\nconst tecnicosRaw = $(\"Cargos técnicos\").all();\n\n// Função de normalização para ignorar acentos, espaços e maiúsculas\nconst normalizar = (texto) => \n  texto ? texto.trim().toLowerCase().normalize(\"NFD\").replace(/[\\u0300-\\u036f]/g, \"\") : \"\";\n\nreturn tecnicosRaw.map(t => {\n  const itemBase = t.json.fila && t.json.fila.json ? t.json.fila.json : t.json;\n  const nomeTecnico = itemBase.nome;\n  if (!nomeTecnico) return null;\n  \n  const nomeTecnicoNorm = normalizar(nomeTecnico);\n\n  // Filtramos todos os tickets que pertencem a este técnico de uma vez\n  const ticketsDoTecnico = listaDeTickets.filter(ticket => {\n    const tecnicoNoTicket = normalizar(ticket.tecnicoAtribuido);\n    if (!tecnicoNoTicket || tecnicoNoTicket === \"nao atribuido\") return false;\n\n    // Verifica se o nome do cadastro está contido no nome do ticket ou vice-versa\n    // Isso resolve casos como \"Fonseca Guilherme\" vs \"Guilherme Fonseca\"\n    const partesNome = nomeTecnicoNorm.split(\" \");\n    return tecnicoNoTicket.includes(nomeTecnicoNorm) || \n           partesNome.every(parte => tecnicoNoTicket.includes(parte));\n  });\n\n  // Agora separamos os tickets encontrados pelos status corretos\n  const atribuidos = ticketsDoTecnico.filter(c => \n    c.status_name.toLowerCase().includes(\"atribuido\") || \n    c.status_name.toLowerCase().includes(\"atendimento\")\n  );\n  \n  const pendentes = ticketsDoTecnico.filter(c => \n    c.status_name.toLowerCase().includes(\"pendente\")\n  );\n  \n  const planejados = ticketsDoTecnico.filter(c => \n    c.status_name.toLowerCase().includes(\"planejado\")\n  );\n\n  return {\n    idTecnico: itemBase._id,\n    nomeDeTecnico: nomeTecnico,\n    entidade: itemBase.entidade,\n    estatisticas: {\n      totalPendentes: pendentes.length,\n      totalAtribuidos: atribuidos.length,\n      totalPlanejados: planejados.length,\n      totalGeral: ticketsDoTecnico.length\n    },\n    chamadosMaximos: itemBase.cargo ? itemBase.cargo.chamadosMaximos : 0,\n    chamadosMaximosEvasao: itemBase.cargo ? itemBase.cargo.chamadosMaximosEvasao : 0,\n    competencias: itemBase.cargo && itemBase.cargo.competencias ? itemBase.cargo.competencias.map(comp => comp.completename) : []\n  };\n}).filter(item => item !== null).sort((a, b) => b.estatisticas.totalGeral - a.estatisticas.totalGeral);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1136,
        176
      ],
      "id": "474cce34-5067-4320-9fa5-6bba3ebe9981",
      "name": "Organiza a lista dos tecnicos"
    },
    {
      "parameters": {
        "jsCode": "const inputTickets = $(\"Formatador dos chamados\").first().json;\nconst listaDeTickets = inputTickets.all_tickets || [];\nconst novosFiltrados = listaDeTickets.filter(c => {\n  const statusOk = c.status_name && c.status_name.toLowerCase().includes(\"novo\");\n  const categoriasExcluir = [\"sem categoria\", \"aberto por e-mail\", \"null\", null];\n  const categoriaValida = c.categoria && !categoriasExcluir.includes(c.categoria.toLowerCase());\n  const tecnicoValido = c.tecnicoAtribuido === \"Não atribuído\";\n  return statusOk && categoriaValida && tecnicoValido;\n});\n\nconst matriz = $(\"Matriz de prioridade\").all().map(item => item.json);\n\nconst novosComPrioridade = novosFiltrados.map(chamado => {\n  const infoMatriz = matriz.find(m => m.nome === chamado.entidade);\n  return {\n    ...chamado,\n    prioridade: infoMatriz ? infoMatriz.prioridade : 0,\n    urgencia_num: parseInt(chamado.urgencia) || 0\n  };\n});\n\nreturn {\n  totalNovos: novosComPrioridade.length,\n  novosGeral: novosComPrioridade\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -928,
        176
      ],
      "id": "ab8b7afc-7e6b-4451-8a2c-8aa9b55e890a",
      "name": "Organiza a prioridade dos chamados"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "771a7b08-4b8e-4a36-8fc9-7fa780cddd92",
              "leftValue": "={{ $json.atribuidos.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -512,
        176
      ],
      "id": "3e8929ba-e28e-4f16-a978-395acbffed75",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -240,
        320
      ],
      "id": "5dbbd8e2-6b94-4be5-8236-5af52da9ef8c",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "s-tok",
              "name": "sessionToken",
              "value": "={{ $json.session_token }}",
              "type": "string"
            },
            {
              "id": "cace7f87-f152-4e81-9ccd-96b879cf72d1",
              "name": "atribuidos",
              "value": "={{ $('Matriz de atribuição').first().json.atribuidos }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "66d51e21-8df4-4088-8f0d-70c847732d91",
      "name": "Preparador de dados",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node['Autenticação2'].json['URLAUXILIAR'] }}/initSession ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "App-Token",
              "value": "={{ $('Autenticação').first().json.APP_TOKEN_GLPI }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"login\": \"{{ $('Autenticação').first().json.Login_GLPI }}\",\n  \"password\": \"{{ $('Autenticação').first().json.Senha_GLPI }}\"\n}",
        "options": {}
      },
      "id": "5aad9054-2150-4f31-9b65-6f8d691c33af",
      "name": "Auth (BugBusters)1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -224,
        16
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const filaTecnicos = $('Organiza a lista dos tecnicos').all();\nconst listaChamadosNode = $('Organiza a prioridade dos chamados').all();\n\nconst TEMPO_URG_PRIO_5 = 10;\nconst TEMPO_URG_PRIO_4 = 30;\n\nlet novosChamados = listaChamadosNode[0].json.novosGeral || [];\nconst tecnicos = filaTecnicos.map(t => t.json);\nconst atribuidos = [];\nconst dataAtual = new Date();\n\n// Função auxiliar para alinhar com o padrão do seu backend\nconst padronizar = (texto) => {\n    if (!texto) return \"\";\n    const partes = texto.split('>').map(p => p.trim());\n    return partes.length >= 2 ? `${partes[0]} > ${partes[1]}` : partes[0];\n};\n\n// 1. ORDENAÇÃO POR PRIORIDADE E DEPOIS POR DATA\nnovosChamados.sort((a, b) => {\n    const nivelA = Math.max(a.prioridade || 0, a.urgencia_num || 0);\n    const nivelB = Math.max(b.prioridade || 0, b.urgencia_num || 0);\n    if (nivelB !== nivelA) return nivelB - nivelA;\n  \n    return new Date(a.data_abertura.replace(\" \", \"T\")) - new Date(b.data_abertura.replace(\" \", \"T\"));\n});\n\nnovosChamados.forEach(chamado => {\n    let designado = null;\n    const dataAbertura = new Date(chamado.data_abertura.replace(\" \", \"T\"));\n    const diffMinutos = Math.floor((dataAtual - dataAbertura) / 60000);\n    const categoriaPadronizada = padronizar(chamado.categoria);\n\n    // 2. FILTRO DE COMPATIBILIDADE\n    const compativeis = tecnicos.filter(t => {\n        const temCompetencia = t.competencias.some(comp => padronizar(comp) === categoriaPadronizada);\n        const entidadeOk = (chamado.entidade || \"\").startsWith(t.entidade) || t.entidade === \"Raiz\";\n        return temCompetencia && entidadeOk;\n    });\n\n    // 3. ORDENAÇÃO DE CARGA (Menos chamados primeiro)\n    compativeis.sort((a, b) => a.estatisticas.totalAtribuidos - b.estatisticas.totalAtribuidos);\n\n    for (const t of compativeis) {\n        const totalAtrib = t.estatisticas.totalAtribuidos;\n        \n        // Definição dos limites baseada nos novos dados (com fallback para segurança)\n        const limiteNormal = t.chamadosMaximos || 1;\n        const limiteEvasao = t.chamadosMaximosEvasao || 2;\n\n        // Flags de urgência/atraso\n        const eNivel5Atrasado = (chamado.prioridade === 5 || chamado.urgencia_num === 5) && diffMinutos >= TEMPO_URG_PRIO_5;\n        const eNivel4Atrasado = (chamado.prioridade === 4 || chamado.urgencia_num === 4) && diffMinutos >= TEMPO_URG_PRIO_4;\n\n        // 4. REGRA DE CARGA DINÂMICA\n        // Atribui se estiver abaixo do limite normal OU se estiver abaixo do limite de evasão para chamados urgentes/atrasados\n        const podeAtribuirNormal = totalAtrib < limiteNormal;\n        const podeAtribuirEvasao = totalAtrib < limiteEvasao && (eNivel5Atrasado || eNivel4Atrasado);\n\n        if (podeAtribuirNormal || podeAtribuirEvasao) {\n            designado = t;\n            t.estatisticas.totalAtribuidos++;\n            break;\n        }\n    }\n\n    if (designado) {\n        atribuidos.push({\n            id: chamado.id,\n            idTecnico: designado.idTecnico,\n            nomeTecnico: designado.nomeDeTecnico,\n            titulo: chamado.titulo,\n            match: categoriaPadronizada,\n            // Opcional: registrar se foi atribuição por evasão\n            modoEvasao: designado.estatisticas.totalAtribuidos > designado.chamadosMaximos\n        });\n    }\n});\n\nreturn { totalProcessado: atribuidos.length, atribuidos };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -720,
        176
      ],
      "id": "f027dea9-26e2-4a98-aaf2-8e18d8e92c30",
      "name": "Matriz de atribuição"
    },
    {
      "parameters": {
        "fieldToSplitOut": "atribuidos",
        "options": {}
      },
      "id": "10462af3-d89e-45e2-89a9-9b24bba0bab6",
      "name": "Organizador de chamados",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        192,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node['Autenticação2'].json['URLAUXILIAR'] }}/Ticket/{{ $json.id }}/Ticket_User/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "App-Token",
              "value": "={{ $('Autenticação').first().json.APP_TOKEN_GLPI }}"
            },
            {
              "name": "Session-Token",
              "value": "={{ $('Preparador de dados').first().json.sessionToken }}"
            },
            {
              "name": "Set-ID-Entity",
              "value": "0"
            },
            {
              "name": "Is-Recursive",
              "value": "true"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"input\": {\n    \"tickets_id\": {{ $json.id }},\n    \"users_id\": {{ $json.idTecnico }},\n    \"type\": 2\n  }\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "b3973afe-a728-4add-9dbb-7ed09747dd70",
      "name": "Atribuir a técnico",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        432,
        0
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "={{ $json.urlMCP }}/config/glpi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -3664,
        224
      ],
      "id": "ac66fd2a-3c0e-4ea2-8fa8-0ffafa893844",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e4f2c6c2-0a39-4ac5-b255-c81c564cffb7",
              "leftValue": "={{ $json.automacaoEncaminhamento }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -3456,
        224
      ],
      "id": "90373700-8b8b-4c50-a9ad-cbd4f00e9bd6",
      "name": "If1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -3184,
        448
      ],
      "id": "9cac3263-0faa-460a-ab8b-104e5daf3f52",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -4080,
        224
      ],
      "id": "e3282371-0108-4b54-b414-a87d242f6bb2",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Autenticação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Autenticação": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Autenticação2": {
      "main": [
        [
          {
            "node": "Auth (BugBusters)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth (BugBusters)": {
      "main": [
        [
          {
            "node": "Preparador de dados2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparador de dados2": {
      "main": [
        [
          {
            "node": "Organizador de status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Organizador de status": {
      "main": [
        [
          {
            "node": "GLPI Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GLPI Search": {
      "main": [
        [
          {
            "node": "Iterador de todos os status de chamado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Iterador de todos os status de chamado": {
      "main": [
        [
          {
            "node": "Formatador dos chamados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatador dos chamados": {
      "main": [
        [
          {
            "node": "Matriz de prioridade",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Matriz de prioridade": {
      "main": [
        [
          {
            "node": "Cargos técnicos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cargos técnicos": {
      "main": [
        [
          {
            "node": "Organiza a lista dos tecnicos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Organiza a lista dos tecnicos": {
      "main": [
        [
          {
            "node": "Organiza a prioridade dos chamados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Organiza a prioridade dos chamados": {
      "main": [
        [
          {
            "node": "Matriz de atribuição",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Matriz de atribuição": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Auth (BugBusters)1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth (BugBusters)1": {
      "main": [
        [
          {
            "node": "Preparador de dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparador de dados": {
      "main": [
        [
          {
            "node": "Organizador de chamados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Organizador de chamados": {
      "main": [
        [
          {
            "node": "Atribuir a técnico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Autenticação2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Autenticação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "8f204cb2-66bf-4cc9-9566-7ed76429d416",
  "meta": {
    "instanceId": "ffbfdf3ce47a1842904b0b0985b8b2ed9db91162ebc2fde867186855e3669ffe"
  },
  "id": "OjHtfzvslm8Q40gBwWzSv",
  "tags": []
}